@media screen and (max-width: 480px) {
    .nazar-rudenok {
        font-size: 30px;
    }

    .first-text {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 100px;
        font-size: 20px;
    }

    .projects {
        margin-left: 20px;
        margin-right: 20px;
    }

    .losses-of-russia-photo {
        margin-left: 20px;
        margin-right: 20px;
    }

    .losses-of-russia-title {
        margin-left: 40px;
        margin-right: 40px;
    }

    .losses-of-russia-photo {
        width: 50px;
    }

    .losses-of-russia-text {
        margin-left: 90px;
        margin-right: 20px;
    }

    .weather-forecast-photo {
        width: 50px;
        margin-left: 20px;
    }

    .weather-forecast-title {
        margin-left: 90px;
        margin-right: 20px;
    }

    .weather-forecast-text {
        margin-left: 90px;
        margin-right: 20px;
    }

    .light-bot-photo {
        width: 50px;
        margin-left: 20px;
    }

    .light-in-lviv-title {
        margin-left: 90px;
        margin-right: 20px;
    }

    .light-bot-text {
        margin-left: 90px;
        margin-right: 20px;
    }

    .meme-bot-photo {
        width: 50px;
        margin-left: 20px;
    }

    .memes-title {
        margin-left: 90px;
        margin-right: 20px;
    }

    .meme-bot-text {
        margin-left: 90px;
        margin-right: 20px;
    }

    .modules {
        margin-left: 20px;
        margin-right: 20px;
    }

    .losses-of-russia-module-text {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 17px;
    }

    .contacts-title {
        margin-left: 20px;
        margin-right: 20px;
    }

    .telegram-icon {
        margin-left: 20px;
        width: 50px;
    }

    .telegram-text {
        margin-left: 90px;
        padding-top: 15px;
    }

    .phone-icon {
        margin-left: 20px;
        width: 50px;
    }

    .phone-number {
        margin-left: 90px;
        padding-top: 15px;
    }

    .gmail-icon {
        margin-left: 20px;
        width: 50px;
    }

    body {
        background: url(../images/backround4.jpg);
    }

    .russias-losses-img {
        width: 50px;
        margin-left: 20px;
    }

    .russias-losses-title {
        margin-left: 90px;
        margin-right: 20px;
    }
}   